$primary: #5265E1;
$secondary: #FA5959;

.btn-primary:hover {
    background-color: #fff !important;
    color: #777777 !important;
}
.btn-light:hover {
    background-color: #fff !important;
    color: $primary !important;
}

.btn-secondary {
    --bs-btn-color: #fff !important;
}
.btn-secondary:hover {
    background-color: #fff !important;
    color: $secondary !important;
}

.navbar-nav {
    letter-spacing: 1px;
}


$nav-link-color: grey;
$nav-link-hover-color: $secondary;

.nav-tabs .active {
    border: none !important;
    border-bottom: 3px solid $secondary !important;
}

@media (max-width: 768px) {
    .nav-tabs {
        border: none !important;
    }
    .nav-tabs .nav-link {
        border-bottom: 1px solid lightgray !important;
    }
    .nav-tabs .active {
        border-bottom: 3px solid $secondary !important;
    }
}

$navbar-light-hover-color: $secondary;

$accordion-button-active-bg: none;
$accordion-button-active-color: $secondary;
$accordion-button-focus-box-shadow: none;
$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;

$form-feedback-invalid-color: $secondary;
$form-feedback-valid-color: $primary;

@import "../node_modules/bootstrap/scss/bootstrap";


/* Non-bootstrap CSS **/

.relaDiv {
    position: relative;
}

.heroBackShapeDiv {
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}
.heroBackShape {
    height: 75%;
    width: 35%;
    background-color: $primary;
    border-radius: 50% / 100% 0% 0% 100%;
}

.heroImg {
    z-index: 3;
}

.cardsDiv {
    height: 530px;
}
@media (max-width: 992px) {
    .cardsDiv {
        height: auto;
    }
}

.footerTopText {
    letter-spacing: 1px;
}
.footerLinkText {
    letter-spacing: 1px;
}
.footerLinkText a:hover {
    color: $secondary;
}
