$primary: #5265E1;
$secondary: #FA5959;

.btn-secondary {
    --bs-btn-color: #fff !important;
}

.navbar-nav {
    letter-spacing: 1px;
}


$nav-link-color: grey;
$nav-link-hover-color: black;

.nav-tabs .active {
    border: none !important;
    border-bottom: 3px solid $secondary !important;
}

@media (max-width: 768px) {
    .nav-tabs {
        border: none !important;
    }
    .nav-tabs .nav-link {
        border-bottom: 1px solid lightgray !important;
    }
    .nav-tabs .active {
        border-bottom: 3px solid $secondary !important;
    }
}

@import "../node_modules/bootstrap/scss/bootstrap";


/* Non-bootstrap CSS **/

.relaDiv {
    position: relative;
}

.heroBackShapeDiv {
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}
.heroBackShape {
    height: 75%;
    width: 35%;
    background-color: $primary;
    border-radius: 50% / 100% 0% 0% 100%;
}

.heroImg {
    z-index: 3;
}

.cardsDiv {
    height: 530px;
}
@media (max-width: 992px) {
    .cardsDiv {
        height: auto;
    }
}
.cardButton {
    border-top: 5px dotted lightgray;
}